/* 
    Created on : Jun 5, 2020, 11:28:36 PM
    Author     : marin
*/

.button {
    -fx-background-color: #039be5;
    -fx-text-fill: white;
    -fx-font: 14 px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #b3e5fc;
}